:root {
  /* 文字色 */
  --color-black: #0f141a;
  --color-gray: #595959;
  --color-red: #cc1818;
  --color-white: #ffffff;

  /* 背景色 */
  --bg-white: #ffffff;
  --bg-gray-1: #f2f2f2;
  --bg-gray-2: #e1e1e1;

  /* ボーダー色 */
  --border-gray: #f2f2f2;

  /* outline */
  --outline-red: #cc1818;

  /* hover */
  --hover-black: #262c34;

  /* breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-md: 768px;

  /* font size */
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 2rem;
  --font-xl: 2.4rem;
  --font-xxl: 3.2rem;

  /* z-index */
  --z-index-header: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  color: var(--color-black);
}

body {
  font-family:
    'Helvetica Neue',
    'Arial',
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    'Meiryo',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  line-height: 1.15;
  background-color: var(--bg-white);
}

main {
  position: relative;
  min-width: var(--breakpoint-xs);
  max-width: var(--breakpoint-md);
  min-height: 100vh;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

select {
  appearance: none;
  cursor: pointer;
  border: 0;
  outline: 0;
  box-shadow: none;
}

select[aria-disabled='true'] {
  cursor: default;
}

button {
  padding: 0;
  color: var(--color-black);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

button[aria-disabled='true'] {
  cursor: default;
}

label {
  cursor: pointer;
}
